@media (max-width: 990px) and (min-width: 768px) {
    .main{
        height: 100vh;
        padding-top: 70px !important;
    }
    .main .body{
        padding: 50px 15px !important;
    }

}
@media (max-width: 1200px) and (min-width: 1024px) {
   .main{
       height: 100vh;
       padding-top: 150px;
   }
}
 
/*-------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-height: 1024px) {
  
}
/*-------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-height: 732px) {
  
}
/*-------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-height: 1366px) {
}
